{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 88,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
