@import "../main.scss";

.interest-wrapper {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #fe2e62;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  padding: 6px;
  margin: 12px;
}

@media screen and (max-width: 480px) {
  h1 {
    margin: 6px;
  }
}

.interest-menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.interest {
  @include unselectable;

  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: bottom;
  padding: 3px;
  margin: 3px;
  color: #19181a;

  &:hover,
  &.active {
    color: #fe2e62;
  }
}

.interest-content {
  position: relative;
  margin: 2.5px;
  top: 50%;
  transform: translateY(-50%);

  h3 {
    text-transform: uppercase;
    cursor: pointer;
  }
}
