.number-wrapper {
  position: absolute;
  z-index: 10;
  top: 50%;

  .number-count {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
  }

  .number {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 12rem;
    color: #dfdfdf;
    margin-left: -5rem;
    font-weight: 700;
  }
}
