@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@mixin unselectable {
  -webkit-tap-highlight-color: transparent; /* Android */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

* {
  box-sizing: border-box;
}

$primary_background_color: #ffffff;
$primary_color: #191716;
$primary_accent_color: #e6af2e;
$secondary_accent_color: #146071;
// $secondary_accent_color: #011627;
$tertiary_accent_color: #dad2bc;
