.panel {
  height: 100vh;
  width: 50vw;
  position: fixed;
  z-index: 1;
}

.left {
  left: 0;
  background-color: #ffffff;
}

.right {
  right: 0;
  background-color: #ffffff;
}

.lightblue-background {
  background-color: #add8e6;
}
