// Variables
// ----------------------------------------------
$grid-background-color: #0f0f0f;
$grid-line-color: #000;
$timeline-events-no: 3;
$timeline-events-line-height: 8px;
$timeline-years-no: 10;
$grid-width: calc(max(10vw, 150px));
// $grid-width: #{100vw / $timeline-years-no};

body {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 5px 5px 5px 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 5px 5px 5px 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.timeline-slide {
  position: absolute;
  font-family: sans-serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $grid-background-color;
  background-image: linear-gradient(
    90deg,
    $grid-background-color 0,
    $grid-background-color calc(#{$grid-width} - 1px),
    $grid-line-color $grid-width
  );
  background-size: $grid-width 100%;
  font-size: 0;
}

/* Timeline - Years */
.timelines-years {
  position: relative;
  bottom: -75px;
  padding: 0 0 0 calc(#{$grid-width});
  margin: 0;
  border-top: 1px solid #282828;
  /* Fix display: inline-block spacing issue */
  font-size: 0;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.timelines-years div {
  position: relative;
  top: -7px;
  display: inline-block;
  width: calc(#{$grid-width} * 2);
  color: #868686;
  font-size: 12px;
  line-height: 12px;
  text-indent: -12px;
}
/* Display last year */
.timelines-years div:last-child {
  width: $grid-width;
}

/* Timeline - Events */
.timeline-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.timeline {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.timeline-event {
  h2,
  h3,
  h4 {
    margin: 0 0 1px 0;
    color: #777;
    font-weight: normal;
  }
  h2 {
    text-transform: uppercase;
    font-size: 11px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 11px;
    color: #f5f5f5;
  }
}

.timeline-events {
  div {
    position: relative;
    display: inline-block;

    &:after {
      position: absolute;
      left: 0;
      bottom: -36px;
      height: $timeline-events-line-height;
      border-radius: $timeline-events-line-height;
      content: "";
    }
  }
}
@for $i from 1 through $timeline-events-no {
  .timeline-events div:nth-child(#{$i}) {
    bottom: #{((($timeline-events-line-height * 2) * $i)) -
      ($timeline-events-line-height * 2)};
  }
}

/* Timeline - Events - Colours */
.timeline-events div:nth-child(1) {
  &:after {
    background: linear-gradient(to right, $grid-background-color 0, #c2e34e 100%);
    border-radius: 0 6px 6px 0;
  }
  h3 {
    color: #c2e34e;
  }
}

.timeline-events div:nth-child(2) {
  &:after {
    background: #ff9704;
  }
  h3 {
    color: #ff9704;
  }
}

.timeline-events div:last-child {
  &:after {
    background: linear-gradient(to right, #dd3d01 0, $grid-background-color 100%);
    border-radius: 6px 0 0 6px;
  }
  h3 {
    color: #dd3d01;
  }
}

/* Timeline - Events - Grid */
@for $i from 0 through $timeline-years-no {
  /* X years */
  .timeline-event-years-#{$i},
  .timeline-event-years-#{$i}:after {
    width: calc(#{$grid-width} * #{$i});
  }
  /* X.5 years */
  .timeline-event-years-#{$i}-5,
  .timeline-event-years-#{$i}-5:after {
    width: calc((#{$grid-width} * #{$i}) + (#{$grid-width} / 2));
  }
}
