@import "../main.scss";

.mobile-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: auto;
  height: auto;

  &.active {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $primary_color;
    animation: expand 0.5s ease 0s 1 normal forwards;
  }
}

@keyframes expand {
  0% {
    height: 30px;
    width: 40px;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-items {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  opacity: 0;
  animation: slideInFromLeft 1s ease-out 0.3s 1 forwards;
  background: transparent;

  .menu-item {
    @include unselectable;

    text-align: center;
    font-family: "Poppins", sans-serif;
    color: $primary_accent_color;
    position: relative;
    display: block;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: $primary_background_color;
    }
  }
}

.mobile-menu-hamburger {
  @include unselectable;

  width: 40px;
  height: 30px;
  position: relative;
  margin: 18px;
  background: transparent;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $primary_color;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }

  &.active span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  &.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: $primary_accent_color;
  }

  &.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: $primary_accent_color;
  }

  &.active span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
}
